body {
    position:relative;
    height:98%;
	color:LightSlateGray ;
	font-family: sans-serif;
    background-size: 48px 48px;
    background-image: linear-gradient(90deg, teal 1px, transparent 0px), linear-gradient(teal 1px, transparent 0px);
    background-color: rgb(42, 42, 42);
}

.dragndrop {
    display: flex;
    width: 100%;
    flex-flow: nowrap row;
    position: absolute;
    bottom: 0px;
}

.dragndrop__btn {
    float:right;
    width: 105px;
    color: #EEE;
    margin: 20px;
    border: none;
    position: relative;
    z-index: 1;
    background: linear-gradient(34deg, rgba(220,220,220,1) 0%, rgba(208,208,208,1) 66%, rgba(189,189,189,1) 100%);
    color: #111;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.5);
    align-self: center;
    border-radius: 8px;
    cursor: pointer;
}

.dragndrop__elt {
    align-self: center;
    text-align: center;
    height: 75px;
    padding-top: 30px;
}

.p2 {
  transform: scaleX(-1);
}

i {
    font-size: 2.4rem
}

#droppable {
    color: #EEE;
    border: 5px #EEE dashed;
    flex: 1;
    border-radius: 10px;
}

.dragndrop__btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    transform: opacity 250ms;
    background: linear-gradient(34deg, rgba(247,247,247,1) 0%, rgba(229,229,229,1) 66%, rgba(204,204,204,1) 100%);
    color: #333;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.3);
    transition: opacity 220ms;
    border-radius: 8px;
}

.dragndrop__btn:hover::after{
    opacity: 1;
}

#zoomin {
    border-radius: 58px;
}

#zoomin::after {
    border-radius: 58px;
}

img {
    image-rendering: crisp-edges;
}

section.zoomedIn img {
    transform: scale(2);
}

section.zoomedIn img.p2 {
    transform: scale(-2, 2);
}