
  body {
    font-family: sans-serif;
}

a:hover {
    color:blue;     
    text-decoration:underline;
}

a {
    color:Gray;
    text-decoration:none;
}

.move-property {
    padding: 5px;
    font-weight: bold;
    width:70px;
    text-align:center;
    margin:3px;
    float:left;
}

.active {
    background-color: #1E90FF;
    color: White;
}

.inactive {
    background-color: #708090;
    color: #A9A9A9;
}

div.attack-block-hit {
    border-style: solid;
    border-color: Black;
    border-width: medium;
    padding: 5px;
    width: 100%;
}

table.attack-block-hit  td {
    padding: 5px;
}

td.tl {
    border-left:medium solid black;
    border-top:medium solid black
}
td.tr {
    border-right:medium solid black;
    border-top:medium solid black
}
td.ml {
    border-left:medium solid black;
    border-top:medium solid black
}
td.mr {
    border-right:medium solid black;
    border-top:medium solid black
}
td.bl {
    border-left:medium solid black;
    border-top:medium solid black;
    border-bottom:medium solid black
}
td.br {
    border-right:medium solid black;
    border-top:medium solid black;
    border-bottom:medium solid black
}
.movename {
    background-color:pink;
    font-size:larger;
    font-weight:bold;
    padding:5px;
}

.frame {
    float:left;
    padding:5px;
    text-align:center;
    font-size:small;
}

.inactive-frame {
    background-color:#999;  
}
.active-frame {
    background-color:#F60;  
}