
body {
    font-family: sans-serif;
    background-color: #101025;
}

a:hover {
    color:#71b8ff;     
    text-decoration:underline;
}

a, h1, h2 {
    color: #CDE;
    text-decoration:none;
}

.move-property {
    padding: 5px;
    font-weight: bold;
    width:70px;
    text-align:center;
    margin:3px;
}

.active {
    background-color: #1E90FF;
    color: #EFEFEF;
}

.inactive {
    background-color: #708090;
    color: #A9A9A9;
}

div.attack-block-hit {
    border-style: solid;
    border-color: Black;
    border-width: medium;
    padding: 5px;
    width: 100%;
}

table.attack-block-hit  td {
    padding: 5px;
}

td.tl {
    border-left:medium solid black;
    border-top:medium solid black
}
td.tr {
    border-right:medium solid black;
    border-top:medium solid black
}
td.ml {
    border-left:medium solid black;
    border-top:medium solid black
}
td.mr {
    border-right:medium solid black;
    border-top:medium solid black
}
td.bl {
    border-left:medium solid black;
    border-top:medium solid black;
    border-bottom:medium solid black
}
td.br {
    border-right:medium solid black;
    border-top:medium solid black;
    border-bottom:medium solid black
}
.movename {
    background-color:rgb(2, 85, 85);
    font-size:larger;
    font-weight:bold;
    padding:5px;
}

.frame {
    float:left;
    padding:5px;
    text-align:center;
    font-size:small;
}

.inactive-frame {
    background-color:#999;  
}
.active-frame {
    background-color:#F60;  
}

footer {
    background-color: rgb(2, 85, 85);
    display: flex;
    align-content: center;
    flex-flow: column nowrap;
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 6;
}

footer ul {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    margin-top: 6px;
}

footer li {
    list-style-type: none;
    margin-right: 14px;
    margin-bottom: 6px;
}

footer h2 {
    text-align: center;
}

h2 {
    font-size: 1.25rem;
    margin-top: 4px;
    margin-bottom: 4px
}

#hitbox-list {
    margin-top: 24px;
    margin-bottom: 240px;
}

#attack-list {
    display: flex;
    flex-flow: row nowrap;
}

#attack-list img {
    object-fit:cover;
}

#attack-list ul {
    display: flex;
    flex-flow: column wrap;
    max-height: 400px;
    list-style-type: circle;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding-top: 27px;
    padding-bottom: 28px;
    overflow: hidden;
}

#attack-list li {
    margin-right: 18px;
}

#attack-list nav {
    flex: 1
}

#attack-list nav h2 {
    text-align: center;
    position: relative;
    top: 27px;
    right: 2px;
    z-index: 3;
    background: rgb(10,10,25);
    color: #B4B4C4;
    display: inline;
    font-size: 1.1rem;
    padding-right: 4px;
}

.heading {
    background-color:rgb(2, 85, 85);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 6px
}

.heading a {
    align-self: center;
    font-size: 0.9rem;
}

.move {
    display: flex;
    flex-flow: column nowrap;
    align-content: space-between;
    margin-bottom: 24px;
}

.screenshots {
    padding: 8px;
    display: flex;
    flex-flow: row wrap;
}

.movesetimg {
    height: 150px;
    width: 150px;
    border: 1px solid #BBB;
    border-radius: 4px;
    object-fit: none;
    box-shadow: 0px 1px 5px rgba(12, 12, 12, 0.4);
    background-color: rgb(16, 16, 41);
}

.mugshot-container {
    flex: 0.2;
    display: flex;
    height: 225px;
    align-self: center;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #BBB;
    margin-right: 4px;
    max-width: 150px;
}

#attack-index li {
    font-size: 0.95rem;
}